@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'SFDistantGalaxy';
    src: url('assets/fonts/distant_galaxy/SFDistantGalaxy.ttf');
  }
  
  @font-face {
    font-family: 'BattleStar';
    src: url('assets/fonts/battle-star-font/BattleStar-K7dl7.ttf');
  }
  
  @font-face {
    font-family: 'rebellion';
    src: url('assets/fonts/rebellion-font/Rebellion-oPoA.ttf');
  }
  @font-face {
    font-family: 'deathstar';
    src: url('assets/fonts/death-star-font/DeathStar-VmWB.ttf');
  }

  body {
    
    background-attachment: fixed;
    color: #f4f4f9;
    margin: 0;
  }

  .indianred{
    background: #000428;
    box-shadow: 0 0 15px lightblue,inset 0 0 15px lightblue;
  }
  
  .distantgalaxy {
    font-family: 'SFDistantGalaxy', sans-serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  .battlestar {
    font-family: 'BattleStar', sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .rebellion {
    font-family: 'rebellion', sans-serif;
  }
  
  .poppins {
    font-family: 'Poppins', sans-serif;
  }
  .deathstar{
    font-family: 'deathstar';
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    cursor: pointer;
  }
  